---
layout: page
title: Agenda
---


<h2>Saturday</h2>

<table>
<thead>
<tr>
  <th>Time</th>
  <th>Room</th>
  <th>Talk</th>
  <th>Speakers</th>
</tr>
</thead>

<tbody>
{% assign items = (site.posts | where: "category", "agenda" ) %}

{% for x in items reversed %}
{% assign first_break = x.breakout %}
<tr{% if x.breakout %} class="row-breakout"{% endif %}>
{% if prev_break == null and first_break and x.breakout %}
<td rowspan="3">{{x.time | replace:' ','&nbsp;'}}</td>
{% elsif x.breakout == null %}
<td>{{x.time | replace:' ','&nbsp;'}}</td>
{% endif %}
<td>{% if x.room %}{{x.room}}{% else %}TBA{% endif %}</td>
<td><a href="{{x.url}}">{% if x.breakout %}Breakout session {{x.breakout}}: {% endif %}{{ x.title }}</a></td>
<td>
{% for s in x.speakers %}
{% assign items = (site.posts | where: "category", "speakers" | where: "title", s ) %}<a href="/speakers/{{s |slugify}}/" class="agenda-speaker-link"><div style="background-image:url(/images/speakers/{{items[0].image}})" class="agenda-speaker"></div>{{s}}</a>{% endfor %}
</tr>

{% assign prev_break = x.breakout %}
{% endfor %}
</tbody>
</table>





