---
layout: default
toc:
- Blogs
- By the Numbers
- Evaluation
- Photos + Videos
- Speakers
- Sponsor
- Sessions
- Volunteers
- Organizers
---

<!-- ///////////////////////////////////////////////////// -->
<!-- Sticky Nav -->
<!-- ///////////////////////////////////////////////////// -->
<div class="sticky-nav hide-mobile">
  <div class="clearfix center">
    <ul class="">
      {% for section in page.toc %}
      <li><a href="#{{section | slugify}}" class="{{section | slugify}}">{{section}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="limiter">
  <h2>2016 Recap</h2>

  <p>Ela Conf is a conference with a goal to create a safe, supportive, inspiring and comfortable <em>community</em> for adult women (18+) to gain the confidence needed to become leaders, speakers, and teachers in the world of tech.</p>

  <p>In an industry where women are so often marginalized, leadership skills are crucial to making an impact in the field and creating diversity in the workplace. Companies with greater top-level gender diversity perform better financially, are more empathetic, and more innovative. When women become leaders, the entire tech community benefits.</p>

  <p>We held the second Ela Conf on November 4th and 5th, 2016 at Terra Hall at the University of the Arts in Philadelphia, Pennsylvania. Learn about <a href="/2015">our first event in 2015</a>.</p>

  <p>On Friday night, we hosted a meet and greet and talks. Saturday's day-long event featured 8 main stage talks and 2 break-out sessions with 4 workshops, panels, or talks each. We concluded Saturday with a networking event at Time Restuarant.</p>

  <p>Overall, we had <strong>122 attendees</strong> including <strong>36 speakers</strong>, <strong>27 volunteers</strong>, <strong>14 sponsors</strong>, and <strong>4 organizers</strong>!</p>

  <h3>Thanks again to our 2016 sponsors!</h3>

  {% for sponsor in site.data.sponsors %}{% if sponsor.level != 'Individuals' %}<a href="{{sponsor.site}}">{{sponsor.name}}</a>{% unless forloop.last %}, {% endunless %}{% endif %}{% endfor %}

</div>


{% for item in page.toc %}
<div class="limiter" id="{{item | slugify}}">
  <h2>{{item}}</h2>
  {{site.pages | where: 'title',item}}
</div>
{% endfor %}



  <script src="{{site.baseurl}}/js/sticky.js"></script>
