---
title: Organizers
layout: page
description: "Meet the Ela Conf organizers: Joni Trythall, LeeAnn Kinney, Katy DeCorah, Arti Walker-Peddakotla, and Shanise Barona."
---

<div class="organizers-list">
  {% assign organizers = site.organizers | sort: 'order' %}
  {% for organizer in organizers %}{% if organizer.image %}
  <a href="/organizers/{{organizer.title | slugify}}/" class="organizer">
    <div class="organizer-img" style="background-image:url({{site.baseurl}}/images/organizers/{{organizer.image}})"></div>
    <div class="organizer-bio">
      {{organizer.title}}
    </div>
  </a>
  {% endif %}{% endfor %}
</div>
