---
title: Organizers
layout: page
---

<div class="organizers">
  {% assign organizers = site.organizers | sort: 'order' %}
  {% for organizer in organizers %}{% if organizer.image %}
  <div class="organizer">
    <div class="organizer-img" style="background-image:url({{site.baseurl}}/images/organizers/{{organizer.image}})"></div>
    <div class="organizer-bio">
      <div class="hide-mobile">{{organizer.content}}</div>
      <div class="organizer-links">
        <a href="https://www.twitter.com/{{organizer.handle}}" class="fill-purple">{% include svg/twitter.svg %}</a>
        <a href="{{organizer.link}}" class="fill-purple">{% include svg/link.svg %}</a>
      </div>
    </div>
  </div>
  {% endif %}{% endfor %}
</div>