---
layout: page
title: Speakers
permalink: /speakers/
#wide: true
---


<div class="speakers">
  {% assign speakers = site.speakers | sort: 'order' %}
  {% for speaker in speakers %}{% if speaker.twitter %}
  <a href="https://twitter.com/{{speaker.twitter}}" class="speaker">
    <div class="speaker-img" style="background-image:url(https://avatars.io/twitter/{{speaker.twitter}}), {{site.gradient}}">
      <div class="speaker-name">{{speaker.title}}</div>
    </div>
  </a>
  {% endif %}{% endfor %}
</div>