<h2>Friday</h2>
<table class="agenda-table">
<thead>
<tr>
  <th class="agenda-time"></th>
  <th class="text-left">Talks and Lightning Talks :zap:</th>
</tr>
</thead>

<tbody>
{% assign agenda = site.agenda | sort: 'date'  %}
{% for x in agenda %}{% assign day = x.date | date: "%A"  %}{% if day == 'Friday' %}
{% assign first_break = x.breakout %}
<tr{% unless x.speakers %} class="agenda-collapse"{% endunless %}>
<td class="agenda-time">{{x.time | replace:' ','&nbsp;'}} {{x.date | date: '%p' | downcase}}{% unless x.speakers %} <span class="show-mobile"> &mdash; <a href="{{site.baseurl}}{{x.url}}">{{x.title}}</a></span>{% endunless %}</td>
<td class="agenda-details"><a href="{{site.baseurl}}{{x.url}}" class="agenda-title">{% if x.type == 'lightning talk' %}:zap:{% endif %} {{ x.title }}</a>
{% if x.room %}{{x.room}}{% else %}Cool place{% endif %}
<div style='margin: 1em 0;'>
{% for s in x.speakers %}
{% assign items = (site.speakers | where: "title", s ) %}{% assign speaker = items[0] %}<a href="{{site.baseurl}}/2017/{{speaker.category}}/{{s |slugify}}/" class="agenda-speaker-link"><div style="background-image:url({{site.baseurl}}/images/{{speaker.category}}/{% if speaker.image %}{{speaker.image}}{% else %}{{speaker.title | slugify}}.jpg{% endif %})" class="speaker-img-small"></div>{{s}}</a>{% endfor %}
</div>
{% if x.speakers %}<p><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScshO77JQ8VYNrqWvj53r0j8EFoB5buDeeVut0fOemytccWjQ/viewform?usp=pp_url&entry.96767881={{x.title | url_encode}}&entry.333138454&entry.459148311" class="" target="_blank">Submit Speaker Feedback</a></p>{% endif %}
</tr>
{% assign prev_break = x.breakout %}
{% endif %}{% endfor %}
</tbody>
</table>

<h2>Saturday</h2>
<table class="agenda-table">
<thead>
<tr>
  <th class="agenda-time"></th>
  <th class="text-left">Talks, Workshops, and Panels</th>
</tr>
</thead>

<tbody>
{% assign agenda = site.agenda | sort: 'date'  %}
{% for x in agenda %}{% assign day = x.date | date: "%A"  %}{% if day == 'Saturday' %}
{% assign first_break = x.breakout %}
<tr class="{{x.title | slugify | prepend:'session-'}}{% if x.breakout %} row-breakout{% endif %}{% unless x.speakers %} agenda-collapse{% endunless %}">
{% if prev_break == null and first_break and x.breakout %}
<td rowspan="3" class="agenda-time">{{x.time | replace:' ','&nbsp;'}} {% if (x.date | date: '%H') == 11 %}pm{% else %}{{x.date | date: '%p' | downcase}}{% endif %}</td>
{% elsif x.breakout == null %}
<td class="agenda-time">{{x.time | replace:' ','&nbsp;'}} {{x.date | date: '%p' | downcase}}{% unless x.speakers %} <span class="show-mobile"> &mdash; <a href="{{site.baseurl}}{{x.url}}">{{x.title}}</a></span>{% endunless %}</td>
{% endif %}
<td class="agenda-details"><a href="{{site.baseurl}}{{x.url}}" class="agenda-title">{% if x.breakout %}Breakout session {{x.breakout}}: {% endif %}{{ x.title }} {% if x.title contains "Coffee" %}:coffee: {% elsif x.title contains "Welcome" %}:wave: {% elsif x.title contains "Breakfast" %}:sunny: {% elsif x.title contains "Break" %}:walking: {% endif %}{% if x.type %} <span class="breakout-type small">{{x.type}}</span>{% endif %}</a>
{% if x.breakout and x.room %}<div class="agenda-room">{% unless x.room == 'Caplan Recital Hall' %}Room {% endunless %}{{x.room}}</div>{% endif %}
<div style='margin: 1em 0;'>
{% for s in x.speakers %}
{% assign items = (site.speakers | where: "title", s ) %}
{% assign speaker = items[0] %}<a href="{{site.baseurl}}/2017/{{speaker.category}}/{{s |slugify}}/" class="agenda-speaker-link"><div style="background-image:url({{site.baseurl}}/images/{{speaker.category}}/{% if speaker.image %}{{speaker.image}}{% else %}{{speaker.title | slugify}}.jpg{% endif %})" class="speaker-img-small"></div>{{s}}</a>{% endfor %}{% if x.moderator %}
  {% assign items = (site.speakers | where: "name", x.moderator ) %}{% assign moderator = items[0] %}<a href="{{site.baseurl}}/2017/speakers/{{x.moderator | slugify}}/" class="agenda-speaker-link"><span style="background-image:url({{site.baseurl}}/images/speakers/{{x.moderator | slugify}}.jpg" class="speaker-img-small"></span>{{ x.moderator}} (moderator)</a>
{% endif %}
</div>
{% if x.speakers %}<p><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScshO77JQ8VYNrqWvj53r0j8EFoB5buDeeVut0fOemytccWjQ/viewform?usp=pp_url&entry.96767881={{x.title | url_encode}}&entry.333138454&entry.459148311" class="" target="_blank">Submit Speaker Feedback</a></p>{% endif %}
</tr>
{% assign prev_break = x.breakout %}
{% endif %}{% endfor %}
</tbody>
</table>
