<h2>Friday</h2>
<table class="agenda-table">
  <tbody>
    {% assign agenda = site.agenda | sort: 'date'  %}
    {% for x in agenda %}{% assign day = x.date | date: "%A"  %}{% if day == 'Friday' %}
    {% assign first_break = x.breakout %}
    <tr>
      <td class="agenda-time">
        {{x.time | replace:' ','&nbsp;'}} {{x.date | date: '%p' | downcase}}
      </td>
      <td class="agenda-details">
        <a href="{{site.baseurl}}{{x.url}}" class="agenda-title">
          {% if x.type == 'lightning talk' %}:zap:{% endif %} {{ x.title }}
        </a>

        <div class="agenda-room">
          <span class="show-mobile">
            {{x.time | replace:' ','&nbsp;'}} {{x.date | date: '%p' | downcase}} &bull;
          </span>
          {% if x.room %}{{x.room}}{% else %}Levitt Auditorium{% endif %}
        </div>
        {% for s in x.speakers %}
        {% assign items = (site.speakers | where: "title", s ) %}{% assign speaker = items[0] %}<a href="{{site.baseurl}}/2017/{{speaker.category}}/{{s |slugify}}/" class="agenda-speaker-link"><div style="background-image:url({{site.baseurl}}/images/{{speaker.category}}/{{speaker.title | slugify}}.jpg)" class="speaker-img-small"></div>{{s}}</a>{% endfor %}
      </td>
    </tr>
    {% assign prev_break = x.breakout %}
    {% endif %}{% endfor %}
  </tbody>
</table>

<h2>Saturday</h2>
<table class="agenda-table">
  <tbody>
    {% assign agenda = site.agenda | sort: 'date'  %}
    {% for x in agenda %}{% assign day = x.date | date: "%A"  %}{% if day == 'Saturday' %}
    {% assign first_break = x.breakout %}
    <tr class="{{x.title | slugify | prepend:'session-'}}{% if x.breakout %} row-breakout{% endif %}">
      {% if prev_break == null and first_break and x.breakout %}
      <td rowspan="3" class="agenda-time">
        {{x.time | replace:' ','&nbsp;'}} {{x.date | date: '%p' | downcase}}
      </td>
      {% elsif x.breakout == null %}
      <td class="agenda-time">
        {{x.time | replace:' ','&nbsp;'}} {{x.date | date: '%p' | downcase}}
      </td>
      {% endif %}
      <td class="agenda-details">
        <a href="{{site.baseurl}}{{x.url}}" class="agenda-title">
          {% if x.breakout %}Breakout session {{x.breakout}}: {% endif %}{{ x.title }} {% if x.title contains "Coffee" %}:coffee: {% elsif x.title contains "Welcome" %}:wave: {% elsif x.title contains "Breakfast" %}:sunny: {% elsif x.title contains "Break" %}:walking: {% endif %}{% if x.type %} <span class="breakout-type small">{{x.type}}</span>{% endif %}
        </a>
        <div class="agenda-room">
          <span class="show-mobile">{{x.time | replace:' ','&nbsp;'}} {{x.date | date: '%p' | downcase}} &bull;</span>
          {% if x.room %}{{x.room}}{% else %}Levitt Auditorium{% endif %}
        </div>
        {% for s in x.speakers %}
        {% assign items = (site.speakers | where: "title", s ) %}
        {% assign speaker = items[0] %}
        <a href="{{site.baseurl}}/2017/{{speaker.category}}/{{s |slugify}}/" class="agenda-speaker-link">
          <div style="background-image:url({{site.baseurl}}/images/{{speaker.category}}/{{{speaker.title | slugify}}.jpg)" class="speaker-img-small"></div>
          {{s}}
        </a>{% endfor %}{% if x.moderator %}
        {% assign items = (site.speakers | where: "name", x.moderator ) %}{% assign moderator = items[0] %}
        <a href="{{site.baseurl}}/2017/speakers/{{x.moderator | slugify}}/" class="agenda-speaker-link">
          <span style="background-image:url({{site.baseurl}}/images/speakers/{{x.moderator | slugify}}.jpg" class="speaker-img-small"></span>
          {{ x.moderator}} (moderator)
        </a>
        {% endif %}
      </td>
    </tr>
    {% assign prev_break = x.breakout %}
    {% endif %}{% endfor %}
  </tbody>
</table>
