<footer>
  <div class="limiter limiter-large">
    <div class="footer">
      <div class="half">
        <div class="footer-logo">{% include svg/logo.svg %}</div>
      </div>
      <div class="half footer-social-links">
        <div><a href="/2017" class="footer-social-link">2017 Site</a></div>
        <div><a href="/2016" class="footer-social-link">2016 Site</a></div>
        <div><a href="/2015" class="footer-social-link">2015 Site</a></div>
        <div><a href="{{site.medium}}" class="footer-social-link">Medium</a></div>
        <div><a href="{{site.youtube}}" class="footer-social-link">Youtube</a></div>
      </div>
    </div>
  </div>
</footer>
