<footer>

  <div class="limiter">

    <div class="footer">
      <div class="show-desktop third">
        <a href="{{site.url}}" class="footer-logo">{% include svg/logo.svg %}</a>
      </div>

      <div class="third text-center small footer-location">
        {{site.date}}<br>
        {{site.building}}, Philadelphia
      </div>

      <div class="third footer-social-links">
        <div><a href="https://docs.google.com/forms/d/e/1FAIpQLSctRXPSgQaXHkawUB2gP8NR0w41KsAbZit8AZr4q19swxQ50A/viewform" class="footer-social-link"><span class="show-desktop small">Slack</span> {% include svg/slack.svg %}</a></div>
        <div><a href="mailto:hello@elaconf.com" class="footer-social-link"><span class="show-desktop small">Email</span> {% include svg/email.svg %}</a></div>
        <div><a href="https://twitter.com/elaconf" class="footer-social-link"><span class="show-desktop small">Twitter</span> {% include svg/twitter.svg %}</a></div>
      </div>
    </div>

    <div class="footer-links text-center">
      {% assign pages = site.pages | sort:'title' %}
      {% for item in pages %}{% if item.layout == 'page' or item.layout == 'speaker' %}
      <div><a href="{{item.url}}" class="footer-link small">{{item.title}}</a></div>
      {% endif %}{% endfor %}
    </div>

  </div>

</footer>