<footer>

  <div class="limiter limiter-large">

    <div class="footer">
      <div class="half">
        <a href="{{site.url}}" class="footer-logo">{% include svg/logo.svg %}</a>
      </div>

      <div class="half footer-social-links">
        <div><a href="{{site.twitter}}" class="footer-social-link">Twitter</a></div>
        <div><a href="{{site.instagram}}" class="footer-social-link">Instagram</a></div>
        <div><a href="{{site.medium}}" class="footer-social-link">Medium</a></div>
        <div><a href="{{site.youtube}}" class="footer-social-link">Youtube</a></div>
        <div><a href="mailto:hello@elaconf.com" class="footer-social-link">Email us</a></div>
        <div><a href="http://ela.community" class="footer-social-link">Community</a></div>
        <div><a href="{{site.newsletter}}" class="footer-social-link">Newsletter</a></div>
      </div>
    </div>
  </div>
</footer>
