<header>
  <div class="{% if page.title %}limiter{% else %}float-header{% endif %}">
    <a href="/" class="ela-logo">{% include svg/logo.svg %}</a>
    {% unless page.title %}<div class="tagline">{{site.tagline}}</div>{% endunless %}
  </div>
  <div class="ela-hero" style="background-image:url({{site.baseurl}}/images/hero.jpg), {{site.gradient}}"></div>
  {% unless page.title %}

  <div class="ela-location">
    <div class="limiter">
      <div>{% include svg/calendar.svg %} {{site.date}}</div>
      <div>{% include svg/marker.svg %} {{site.building}}, Philadelphia</div>
    </div>
  </div>
  {% endunless %}
</header>