<nav>
<a href="/" class="ela-logo{% if page.title %} ela-logo-fill{% endif %}">{% include svg/logo.svg %}</a>
<label for="menu" class="button-menu">{% include svg/menu.svg %}</label>
<input id="menu" type="checkbox" name="name" value="" class="menu">
<div class="header-nav">
  {% assign pages = site.pages | sort:'title' %}
  {% for item in pages %}{% if item.layout == 'page' or item.layout == 'speaker' %}{% unless item.nav == false %}
  <a href="{{item.url}}" class="header-nav-item{% if item.title == page.title %} active{% endif %}">{{item.title}}</a>
  {% endunless %}{% endif %}{% endfor %}
</div>
</nav>