<div class="sponsors">
{% for level in site.data.levels reversed %}
{% assign sponsors = site.data.sponsors | where: 'level', level[0] %}
{% assign sponsorsNum = sponsors | size %}
  {% if sponsorsNum > 0 %}
  <div class="sponsor-level sponsor-level-{{level[0] | slugify}}">
    <div class="sponsors-level-name">{{level[0]}}</div>
    <div class="sponsors-images">

        {% if level[0] == 'Individuals' %}
          {% for sponsor in sponsors %}
            {% if sponsor.site %}<a href="{{sponsor.site}}">{{sponsor.name}}</a>{% else %}{{sponsor.name}}{% endif %}{% unless forloop.last %},{% endunless %}
          {% endfor %}
        {% else %}
          {% for sponsor in sponsors %}
            <a href="{{sponsor.site}}"><img src="/images/sponsors/{{sponsor.image}}" alt="{{sponsor.name}}" class="sponsor-image sponsor-{{sponsor.name | slugify}}"></a>
          {% endfor %}
        {% endif %}

    </div>
  </div>
  {% endif %}
{% endfor %}
</div>