<p>Early bird tickets are on sale now until August 31st. The regular ticket price will be $200.</p>


<script async src="//widgets.nvite.com/1.6/tickets.js" data-resource="861oyg"></script>

<p>All tickets sales are final after October 6th.</p>

<p>We don't wish for the cost of a ticket to be a barrier for anyone to attend. We offer complimentary tickets to all <a href="{{site.url}}/volunteer/">volunteers</a> and offer <a href="{{site.url}}/grants/">grants</a> based on either financial or diversity based factors.</p>
