<p>Tickets are on sale now! Learn more about this year's ticket sales <a href="https://medium.com/@elaconf/2017-conference-tickets-b90638f44509">on our blog</a>.</p>

<p><em>Please keep in mind that Ela Conf is for adult (18+) women (cis and trans), trans men, and genderqueer people (regardless of presentation).</em></p>

<p><strong>We are currently sold out of regular (full admission) tickets!</strong></p>

<ul>
  <li>If you are interested in attending, please <a href="https://goo.gl/forms/ccz7yllgpXWdL7z33">fill out the waitlist form</a> and we will notify if you a ticket becomes available.</li>
  <li>If you have a promo code for a complimentary ticket, your ticket is still available and can be redeemed with the provided code or link.</li>
</ul>

<div style="margin-bottom: 3em;">
<script async src="//widgets.nvite.com/1.6/tickets.js" data-resource="861oyg"></script>
</div>

<p>All ticket sales are final after October 6th.</p>

<p>We don't wish for the cost of a ticket to be a barrier for anyone to attend. We offer complimentary tickets to all <a href="/volunteer/">volunteers</a> and offer <a href="/grants/">grants</a> based on either financial or diversity based factors.</p>

<p>If you're unable to attend or would like to support the conference, you can <a href="/donate-a-ticket/">donate a ticket</a>. Your donation will help us fund our <a href="/grants/">opportunity grant</a> that provides complimentary tickets to those who would be unable to attend otherwise.</p>
