.page-agenda {

  table {
    max-width: 100%;
  }

  .main h1,
  .main h2 {
    text-align: center;
  }

}

.agenda-table {

  border: 0;

  th {
    border-bottom: .2em solid $gold;
  }

  tr:nth-child(even) td,
  .row-breakout td {
    background: rgba($gold, .1);
  }

  td {
    position: relative;
    vertical-align: text-top;

    @include breakpoint(small) {
      padding: .25em 1em;
    }

  }

}

.agenda-speaker-link {
  display: block;
  margin-bottom: .5em;
  min-width: 9em;
  position: relative;
}

.agenda-speaker {
  background-size: cover;
  border: 1px solid $text-color;
  display: inline-block;
  height: 25px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 25px;

  .agenda-speaker-link:nth-child(odd) & {
    border-radius: 100%;
  }
}

.agenda-title {
  display: block;
  font-weight: bold;
  margin-bottom: .5em;
}

@include breakpoint(medium) {
  .agenda-time {
    border-right: .2em solid $accent-tertiary;
    position: relative;
    text-align: right;
    //min-width: 6.15em;

    &:not(th)::before {
      background: $accent-main;
      border-radius: .7em;
      content: '';
      height: 1em;
      position: absolute;
      right: -.6em;
      top: 1em;
      width: 1em;
      z-index: 100;
    }

  }

}

.allow-bullets ul {
  list-style: disc;
}

.agenda-room {
  color: $accent-secondary;
  margin-bottom: 1em;

  @include breakpoint(medium) {
    font-size: .75em;
    left: -5.6em;
    position: absolute;
    text-align: right;
  }

}

.breakout-type {
  background: $accent-tertiary;
  border-radius: 4px;
  color: $white;
  padding: .1em .4em .2em;
  vertical-align: middle;
}

.session-lunch.session-lunch.session-lunch td {
  background: transparent;
}

.twitter-share-button {
  border: 2px solid $link-color;
  border-radius: 100%;
  display: inline-block;
  margin-left: .5em;

  &:hover {
    background: $link-hover;
    border-color: $link-hover;

    path {
      fill: $white;
    }
  }

  svg {
    height: 30px;
    padding: 6px;
    vertical-align: middle;
    width: 30px;

    path {
      fill: $link-color;
    }

  }

}

.button-footer {
  margin-top: 2em;
}
