.page-agenda {
  
  table {
      max-width: 100%;
  }
  
  .main h1, 
  .main h2 {
    text-align: center;
  }
  
}

.agenda-table {
  
  border: 0;
  
  th {
    border-bottom: .2em solid $cyan;
  }
  
  tbody tr:nth-child(even) td,
  .row-breakout td {
    background: rgba($white, .4);
  }
  
  td {
    vertical-align: text-top;
    @include breakpoint(small) {
      padding: .25em 1em;
    }
    
  }
}

.agenda-speaker-link {
  display: block;
  min-width: 9em;
  position: relative;
  padding-left: 1.5em;
  margin-bottom: .5em;
}

.agenda-speaker {
  width: 25px;
  height: 25px;
  
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 0;
  background-size: cover;
  
  border: 1px solid $text-color;
  
  .agenda-speaker-link:nth-child(odd) & {
    border-radius: 100%;
  }
}

.agenda-title {
  margin-bottom: .5em;
  display: block;
  font-weight: bold;
}

@include breakpoint(medium) {
  .agenda-time {
    border-right: .2em solid $text-color;
    text-align: right;
    position: relative;
    //min-width: 6.15em;
    &:not(th):before {
      content: "";
      position: absolute;
      width: .7em;
      height: .7em;
      border-radius: .7em;
      border: 0.15em solid $salmon;
      right: -0.6em;
      top: 1em;
    }
  }
}

.allow-bullets ul {
  list-style: disc;
}
