.button {
  background: $blue;
  border-radius: 2em;
  color: $white;
  display: inline-block;
  margin-bottom: .5em;
  padding: .25em 1em;
  text-decoration: none;

  &:hover {
    background: darken($blue, 10%);
    color: $white;
    text-decoration: none;
  }

}

.button-compact {
  padding: .25em 1em;
}


.button-large {
  font-size: 1.2em;
}
