.page-main {
  .button {
    color: $white;

    &:hover {
      color: rgba($white, .75);
    }
  }
}

.button {

  @extend %fancy;

  background: transparent;
  border: .2em solid;
  border-radius: 2em;
  color: $blue;
  cursor: pointer;
  display: inline-block;
  margin-bottom: .5em;
  padding: .5em 1em;
  text-decoration: none;

  &:hover {
    color: darken($blue, 10%);
    text-decoration: none;
  }

}

.button-compact {
  padding: .25em 1em;
}


.button-large {
  font-size: 1.2em;
}

.badge {

  @extend %fancy;

  font-size: .8em;
  letter-spacing: 3px;
  margin-bottom: 1em;
  text-transform: uppercase;
}
