
header {
  background: radial-gradient(farthest-corner at 2em 2em, #f7b22d, #c201f9);
  color: #fff;
  
  img {
    display: block;
  }
}

.ela-logo {
  display: block;
  margin-bottom: 1em;
  max-width: 10em;
  
  path,
  rect {
    fill: $white;
  }
  
}

.tagline {
  font-size: 2.5em;
  line-height: 1.2;
  margin-bottom: 1em;
  margin-top: 1em;
}

.ela-location {
  background: $accent-main;
  font-size: 1.5em;
  padding-bottom: .25em;
  padding-top: .25em;
}