header {
  background-image: radial-gradient(farthest-corner at 2em 2em, $gradient-light, $gradient-dark);
  color: $white;

  position: relative;


  img {
    display: block;
  }

}

.float-header {
  padding: 1em;

  @include breakpoint(medium) {
    left: 48px;
    max-width: 26em;
    position: absolute;
    width: 60%;
  }
}

.ela-logo {
  display: block;
  position: relative;
  z-index: 1;

  @include breakpoint(medium) {
    left: 50px;
    padding: .35em .5em;
    position: absolute;
    top: 25px;
  }

  @include breakpoint(small) {
    .page-main & {
      background: $accent-tertiary;
    }

    svg {
      margin-left: 1em;
    }
  }

  @include breakpoint(medium) {
    .page-inner & {
      left: -170px;
      position: relative;
      width: 134px;
    }
  }

  svg {
    height: 6em;
    width: 6em;
  }

  &.ela-logo-fill {
    background: $accent-tertiary;
  }

  path,
  rect {
    fill: $white;
  }

}

.tagline {
  font-size: 1.5em;
  line-height: 1.2;

  @include breakpoint(medium) {
    font-size: 1.5em;
    margin-top: 1em;
    padding-top: 4em;
  }

}

.ela-location {
  background: $accent-main;
  font-size: 1.25em;
  margin-bottom: 1em;
  padding-bottom: .25em;
  padding-top: .25em;

  svg {
    display: inline-block;
    height: 1em;
    margin-right: .5em;
    vertical-align: text-top;
    width: 1em;

    path {
      fill: $white;
    }
  }

}

.ela-location-item {
  margin-bottom: .25em;
  margin-top: .25em;
}


.ela-hero {
  background-blend-mode: overlay;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 50%;

  @include breakpoint(medium) {
    height: calc(100vh - 110px);
    min-height: 300px;
    padding-bottom: 0;
  }

  .no-backgroundblendmode & {
    background-image: url('/images/hero.jpg');
  }

}

.menu {
  display: none;
}

.button-menu {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 100;

  @include breakpoint(medium) {
    display: none;
  }

}


.header-nav {

  position: relative;

  @include breakpoint(small) {
    background: $accent-tertiary;
    display: none;
    padding-bottom: .5em;
  }

  @include breakpoint(medium) {
    .page-inner & {
      top: -113px;
    }
  }

  .menu:checked + & {
    display: block;
  }

}

.header-nav-item {
  border-bottom: .25em solid transparent;
  display: inline-block;
  margin-bottom: .25em;
  position: relative;

  @include breakpoint(small) {
    color: $white;
    display: block;
    padding: 5px 25px;

    &:hover {
      background: $accent-main;
      color: $white;
    }

  }

  @include breakpoint(medium) {

    margin-right: 1em;

    &:last-child::before {
      display: none;
    }

    &::before {
      background: $gold;
      border-radius: 10px;
      content: '';
      display: block;
      height: 7px;
      position: absolute;
      right: -15px;
      top: 8px;
      width: 7px;
    }

    &.active {
      border-bottom-color: $accent-main;
    }
  }

  &:hover {
    border-bottom-color: $accent-tertiary;
    text-decoration: none;
  }

  &:empty {
    display: none;
  }

}



.second-nav {
  margin-bottom: 1.5em;
  margin-top: 1.5em;


  @include breakpoint(small) {
    display: none;
  }
}


