section {
  background-repeat: no-repeat;
  margin-bottom: .6em;
  margin-top: .6em;
  padding: 1em 1em 4em;
  
  
  @include breakpoint(medium) {
    margin-bottom: 1em;
    margin-top: 1em;
  }
  
  p,
  ul,
  ol,
  address,
  table {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    text-align: left;
  }
  
  ul {
    list-style: none;
    margin-bottom: 1.3em;
    padding-left: 3em;
  }
  
  li {
    position: relative;
  }
  
  li:before {
    border: .15em solid $light;
    content: '';
    height: .7em;
    left: -2.25em;
    position: absolute;
    top: .3em;
    width: .7em;
  }
  
  li:nth-child(odd):before {
    border-radius: .7em;
  }
  
}


// cyan sections 
section:nth-of-type(odd):not(.main):not(.page-wide) {
  background-color: $cyan;
}

section:nth-of-type(odd) h1,
section:nth-of-type(odd) a {
  color: $periwinkle;
}

section:nth-of-type(odd) h2 {
  color: $text-color;
}

// salmon sections 
section:nth-of-type(even) {
  background-color: $salmon;
  color: $body-bg;
  
  a {
    color: $blue;
    
    &:hover {
      color: lighten($text-color, 15%);
    }
    
  }
  
}


section:nth-of-type(even) h1,
section:nth-of-type(even) a {
  color: $text-color;
}



@include breakpoint(medium) {
  .section-about {
    background-image: url('/images/bg-about.svg');
    background-position: 0 50%;
    background-size: 10%;
  }
  
  .section-agenda,
  .section-sponsors {
    background-image: url('/images/bg-agenda.svg');
    background-position: calc(100% - 2em) calc(100% - 2em);
    background-size: 15%;
  }
  
  .section-speakers,
  .section-venue {
    background-image: url('/images/bg-conduct.svg');
    background-position: 2em 2em;
    background-size: 15%;
  }
  
  .section-convince-your-boss,
  .section-tickets,
  .section-hotel {
    background-image: url('/images/bg-reasons.svg');
    background-position: calc(100% - 2em) 2em;
    background-size: 15%;
  }
  
  .section-organizers {
    background-image: url('/images/bg-organizers.svg');
    background-position: 0 2em;
    background-size: 15%;
  }
}

// Speaker app section
.timeline {
  display: block;
  margin: auto;
  max-width: 100%;
  width: 600px;
}
