.page-job-board {

  ul {
    list-style: none;
    padding: 0;
  }

  img {
    border-radius: 100%;
    display: inline-block;
    height: 50px;
    margin-right: .25em;
    vertical-align: middle;
    width: 50px;
  }

  li p {
    margin-bottom: 0;
  }
}
