* {
  box-sizing: border-box;
}

html {
  background: $blue;
}

body {
  background: $body-bg;
  color: $text-color;
  font-family: $font-body;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.45;
  position: relative;
  text-rendering: optimizeLegibility;

  @include breakpoint (medium) {
    font-size: 22px;
  }
}

.limiter {

  @include clearfix;

  margin: 0 auto;
  max-width: $max-width;
  padding: 0 2em;

  @include breakpoint(medium) {
    padding: 0 1em;
  }

}

.limiter-side {

  @media (max-width: 1055px) {
    margin: 0 0 0 200px;
  }

  @include breakpoint(small) {
    margin: 0;
  }

}

@include breakpoint(small) {
  .limiter-header {
    padding: 0;
  }
}

.limiter-large {
  max-width: $max-width * 1.3;
}

.limiter-xlarge {
  max-width: $max-width * 1.5;
}

.wrapper {
  margin: 0 auto;
  //max-width: $max-width * 2;
}

footer {
  background: $footer-bg;
  color: $white;
  padding-bottom: 2em;
  padding-top: 2em;

  a {
    color: $white;

    &:hover {
      color: $blue-light;
    }
  }
}

.footer {
  @extend %flex;
  @extend %flex-center;
  @extend %flex-wrap;

  @include breakpoint(small) {
    display: block;
  }
}


.footer-logo {
  display: inline-block;

  &:hover {

    path,
    rect {
      fill: $blue-light;
    }

  }

  svg {
    height: 4em;

    path,
    rect {
      fill: $white;
    }
  }
}

// scss-lint:disable PropertySortOrder
.footer-social-links {
  -webkit-columns: 2 100px;
  -moz-columns: 2 100px;
  columns: 2 100px;

  @include breakpoint(small) {
    margin-top: 2em;
  }
}

.footer-social-link {
  color: $white;
  margin-bottom: .25em;

  &:hover {

    color: $white;

    path {
      fill: $blue-light;
    }

  }

  svg {
    height: 2em;
    padding: .25em;
    width: 2em;

    @include breakpoint(medium) {
      height: 1.5em;
      vertical-align: bottom;
      width: 1.5em;
    }

  }

  span {
    margin-right: .5em;
  }

}

.footer-links {
  border-top: 1px solid rgba($white, .5);
  -moz-columns: 3 175px;
  -webkit-columns: 3 175px;
  columns: 3 175px;
  margin-top: 1em;
  padding-bottom: 1em;
  padding-top: 1em;

  @include breakpoint(small) {
    display: none;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid $blue;
  margin-bottom: 3em;
  margin-top: 3em;
  max-width: 600px;
}

img {
  max-width: 100%;
}

