* {
  box-sizing: border-box;
}

body {
  background: $body-bg;
  color: $text-color;
  font-family: $font-body;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  
  @include breakpoint(medium) {
    font-size: 17px;
  }
  
}

.limiter {
  
  @include clearfix;
  
  margin: 0 auto;
  max-width: 700px;
  padding: 15px;
  
}

footer {
  background: $accent-tertiary;
  color: $white;
  padding-bottom: .25em;
  padding-top: .25em;
}

.footer-social-link svg {
    height: 2em;
}



hr {
  border-color: $turquoise transparent $violet;
  border-style: dashed;
  border-width: 5px 0;
  margin-bottom: 3em;
  margin-top: 3em;
  max-width: 750px;
}

img {
  max-width: 100%;
}
