* {
  box-sizing: border-box;
}

body {
  background: $body-bg;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  
  @include breakpoint(medium) {
    font-size: 17px;
  }
  
}

.page {
  padding: .5em;
  
  @include breakpoint(medium) {
    padding: 1em;
  }
}

@include breakpoint(medium) {
  .primary-header {
    background-color: $text-color;
    background-size: 24%;
    background-image: url(/images/bg-header-left.svg), url(/images/bg-header-right.svg);
    background-position: 2em 2em, calc(100% - 2em) 2em;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}


header,
footer {
  background-color: $text-color;
  color: $light;
  padding: 1em;
  
  @include breakpoint(medium) {
    padding: 2em;  
  }
}

header {
  text-align: center;
}


header p {
  color: $body-bg;
  font-size: 1.5em;
}


header a,
footer a {
  color: $body-bg;
}

header a:hover,
footer a:hover {
  color: #5C63A9;
}

header .button {
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 1.5em;
}

.about-stand-for {
  font-size: 1.5em;
}

footer {
  padding-bottom: 4em;
}

footer .third p {
  margin-bottom: .4em;
}

.ela-logo {
  max-width: 25em;
  display: block;
  margin: 1em auto 2em;
  
  @include breakpoint(medium) {
    margin: 4em auto 3em;
    max-width: 40%;
  }
}
  

hr {
  border-style: solid;
  border-width: .1em 0 0 0;
  border-color: $text-color transparent transparent;
  max-width: 750px;
  margin-bottom: 3em;
}

img {
  max-width: 100%;
}
