.filter-group {

  @include breakpoint(small) {
    display: none;
  }
  
  color: $white;
  font: inherit;

  .small.hide.hide {
    display: none;
  }

  input {
    display: none;

    + label {
      background-color: $accent-main;
      cursor: pointer;
      display: inline-block;
      padding: 10px;
      text-transform: capitalize;
    }

    + label:hover,
    &:checked + label {
      background-color: $accent-main;
    }

    + label::before {
      content: ' ';
      display: inline-block;
      margin-right: 5px;
      width: 12px;
    }

    &:checked + label::before {
      content: '✔';
      margin-right: 5px;
    }

  }

}

.ela-map {

  @include breakpoint(small) {
    display: none;
  }

  height: 450px;

  .mapboxgl-popup {
    width: 200px;
  }

  .mapboxgl-popup-content {
    background: $accent-tertiary;
    color: $white;
    font-family: $font-body;
  }

  .mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: $accent-tertiary;
  }

  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: $accent-tertiary;
  }

  h3 {
    margin: 1em 0 0;
  }

}

.page-venue-and-around-philly h2 {
  text-transform: capitalize;
}
