.organizer {
  margin-bottom: 4em;

  &:nth-child(odd) {
    flex-direction: row-reverse;

    .organizer-img {
      @include breakpoint (medium) {
        margin-left: 3em;
        margin-right: 0;
      }
    }
  }
}

.organizer-img {
  background-blend-mode: screen;
  background-color: $purple;
  background-size: 100%;
  display: block;
  flex-shrink: 0;
  height: 200px;
  margin: 0 auto 1em;
  width: 200px;

  @include breakpoint (medium) {
    margin-right: 3em;
  }

  @include breakpoint (large) {
    height: 300px;
    width: 300px;
  }

}

.organizer-bio {
  display: block;
  flex-grow: 1;
  max-width: 100%;
  min-width: 0;
}

.organizer-links {
  margin-top: 1em;

  @include breakpoint(small) {
    text-align: center;
  }

  svg {
    display: inline-block;
    height: 30px;
    margin-right: 20px;
  }

  a:hover {
    path {
      fill: rgba($white, .75);
    }

    &.fill-purple path {
      fill: darken($purple, 10);
    }
  }
}
