/* section: organizers + speakers */

.organizer {
  margin-bottom: 5em;
}

.organizer-bio {
  max-width: 675px;
  
  @include breakpoint(medium) {
    padding: 1em .5em;
    margin: 0 auto;
  }
}

.organizer-img {
  border: .4em solid $light;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  display: block;
  
  @include breakpoint(medium) {
    margin-bottom: 0;
    width: 40%;
  }
  
  @include breakpoint(large) {
    width: 25%;
  }
}

.organizer:nth-of-type(even) .organizer-img {
  border-radius: 100%;
}

