@include breakpoint(medium) {
  .header-small .ela-logo {
    max-width: 150px;
    margin: 0;
  }
}

.page-code-of-conduct .main h2 {
  color: $text-color;
}

.page-sponsorship-packages ul,
.page-talk-inspiration ul  {
  list-style: disc;
  padding-left: 2em;
  margin: 2em auto 4em;
}

.page-sponsorship-packages li {
  margin-bottom: .25em;
}


.main {
  max-width: 900px;
  margin: 0 auto;
  
  @include clearfix;
}

.main h1,
.main h2,
.main h3,
.main p,
.main ul {
  text-align: left;
  max-width: none;
}

.main .button:hover {
  color: #A758DC;
}

.page-agenda {
  
  table {
    max-width: 100%;
  }
  
  tbody tr:nth-child(even) td,
  .row-breakout td {
    background: rgba(#fff, .4);
  }
  
  td {
    vertical-align: text-top;
    @include breakpoint(small) {
      padding: .25em 1em;
    }
    
  }
}

.agenda-speaker-link {
  display: block;
  min-width: 9em;
  position: relative;
  padding-left: 1.5em;
  margin-bottom: .5em;
}

.agenda-speaker {
  width: 25px;
  height: 25px;
  
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 0;
  background-size: cover;
  
  border: 1px solid $text-color;
  
  .agenda-speaker-link:nth-child(odd) & {
    border-radius: 100%;
  }
}

.agenda-title {
  margin-bottom: .5em;
  display: block;
  font-weight: bold;
}

@include breakpoint(medium) {
  .agenda-time {
    border-right: .2em solid $text-color;
    text-align: right;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: .7em;
      height: .7em;
      border-radius: .7em;
      border: 0.15em solid #f77557;
      right: -0.6em;
      top: 1em;
    }
  }
}

.allow-bullets ul {
  list-style: disc;
}
