html,
body,
.splash {
  height: 100%;
}

.splash {

  @extend %center;

  div {
    margin-bottom: 20px;
  }

  .questrial {
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
    margin-bottom: 40px;
  }

  .ela-splash {
    display: block;
    width: 80%;

    @include breakpoint(medium) {
      width: 40%;
      margin-right: 10%;
    }
  }

  .btn {
    font-family: 'Questrial', sans-serif;
    background: #794D9A;
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    margin-bottom: 10px;

    &:hover {
      background: #9F76FF;
    }
  }

  .mb {
    margin-bottom: 15px;
  }

}