
.speaker {
  display: inline-block;
  padding: 1%;
  text-align: center;
  width: 49%;

  @include breakpoint(medium) {
    padding: 5%;
    width: 50%;
  }

  @include breakpoint(large) {
    padding: 1em .25em;
    width: 25%;
  }

  &:hover {

    color: $link-hover;

    .speaker-img {
      background-blend-mode: luminosity;
    }
  }

}

.speaker-img-page,
.speaker-img {
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  position: relative;
}

.speaker-img {
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100%;
  width: 100%;
}

.speaker-img-page {
  height: 142px;
  margin-bottom: .5em;
  width: 142px;
}

.speaker-img-small {

  display: inline-block;
  vertical-align: middle;

  @include breakpoint(xlarge) {
    display: none;
  }

  .speaker-img-page {
    border-radius: 100%;
    height: 40px;
    margin: 0 .5em 0 0;
    width: 40px;
  }

}

.speaker-sidebar {

  display: none;

  @include breakpoint(xlarge) {
    display: block;
    left: 3.34%;
    position: absolute;
    top: 174px;
  }
}

.speaker-name {
  bottom: 1px;
  color: $white;
  font-family: $font-headings;
  font-size: 1.2em;
  left: 1px;
  letter-spacing: -1px;
  line-height: 1;
  position: absolute;
  text-align: left;
}

.speaker-topic {
  color: rgba($white, .8);
  display: block;
}


.speaker-details {
  min-height: 50px;
}

.page-videos,
.page-speakers-single,
.page-organizers-single {

  li::before {
    border-color: $border-color;
  }
}
