.sponsor-image {
  display: block;
  margin: 2em auto;
  border: 0.4em solid $light;

  @include breakpoint(medium) {
    margin: 0;
    display: inline-block;
    height: 150px;
  }
}

.sponsor-nowsecure,
.sponsor-wharton,
.sponsor-devbootcamp,
.sponsor-mapbox,
.sponsor-communicatehealth,
.sponsor-happy-cog,
.sponsor-digitas-health {
  background-color: $white;
  
}

.sponsor-mapbox,
.sponsor-happy-cog {
  padding: 5px;
}

.sponsor-nowsecure,
.sponsor-wharton,
.sponsor-communicatehealth {
  padding: 30px;
}

.sponsor-devbootcamp,
.sponsor-digitas-health {
  padding: 40px;
}