.sticky-nav {
  transition: .2s;
  
  .active { 
    color: $accent-secondary;
    transition: .2s;
  }
  
  ul {
    list-style: none;
    padding: 0 1em;
    text-align: center;
  }
  
  li {  
    
    @include breakpoint(medium) {
      display: inline-block; 
      font-size: .9em;
      margin: 0;
      padding-left: .75em;
      padding-right: 1.5em;
      position: relative;
      
      &:not(:first-of-type):before {
        border: .15em solid $turquoise;
        content: '';
        height: .7em;
        left: -1em;
        position: absolute;
        top: .3em;
        width: .7em;
      }
      
      &:nth-child(odd):before {
        border-radius: .7em;
      }
      
    }
    
  }
  
}

.sticky {
  background: $text-color;
  border-top: 0;
  left: 0;
  position: fixed;
  top: 0;
  transition: .2s;
  width: 100%;
  z-index: 10000;
  
  a { 
    color: $light;
    transition: .2s;
    
    &:hover {
      color: $accent-secondary;
    }
    
  }
  
}

