// Pure CSS https://github.com/yahoo/pure/blob/master/src/tables/css/tables.css

table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
  margin-bottom: 1.3em;
  
  @include breakpoint(medium) {
    border: 1px solid $light;
  }
  
}

table caption {
  color: $text-color;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}

table td,
table th {
  font-size: inherit;
  margin: 0;
  overflow: visible; /*to make ths where the title is really long work*/
  
  @include breakpoint(medium) {
    padding: 0.75em 1em; /* cell padding */
    border-left: 1px solid $light;/*  inner column border */
    border-width: 0 0 0 1px;
  }
  @include breakpoint(small) {
    display: block;
    width: 100%;
    padding-bottom: 1em;
  }
}

table th {
  font-weight: normal;
}

/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
table td:first-child,
table th:first-child {
  border-left-width: 0;
}

table thead {
  text-align: left;
  vertical-align: bottom;
  
  @include breakpoint(medium) {
    background-color: $light;
    color: $text-color;
  }
  @include breakpoint(small) {
    display: none;
  }
}

table thead th {
  font-weight: bold;
}

td.text-right {
  @include breakpoint(medium) { min-width: 117px; }
  @include breakpoint(small) { text-align: left; }
}
