p,
li,
address,
table {
  font-size: 1.25em;
  margin-bottom: 1.3em;
  margin-top: 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

h1,
h2,
h3,
.button,
header,
footer,
.nav,
table,
.sticky-nav {
  font-family: $font-headings;
}

h1,
h2,
h3 {
  font-weight: inherit;
  line-height: 1.2;
  margin: 1.414em 0 .75em;
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {font-size: 2em;}

h3 {font-size: 1.33em;}

small, 
.small {font-size: .75em;}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

::selection {
  background: $text-color;
  color: $white;
}

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

.video-link {
  display: inline-block;
  font-weight: 700;
  margin-bottom: .25em;
}

