
.hide-mobile {

  @include breakpoint(small) {
    display: none;
  }

}

.show-mobile {
  display: none;

  @include breakpoint(small) {
    display: inline-block;
  }

}

.show-mobile-block {
  display: none;

  @include breakpoint(small) {
    display: block;
  }

}

.show-desktop {
  display: none;

  @include breakpoint(medium) {
    display: inline-block;
  }

}

@include breakpoint(small) {
  .hide-small {
    display: none;
  }
}

@include breakpoint(large) {
  .hide-large {
    display: none;
  }
}

.show-large {
  display: none;

  @include breakpoint(large) {
    display: block;
  }

}

.center-mobile {

  @include breakpoint (small) {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
  }
}

.img-center {
  display: block;
  margin: 0 auto;
}

%columns,
.columns {
  -moz-columns: 2 300px;
  -webkit-columns: 2 300px;
  columns: 2 300px;
}

%bg-blend-purple {
  background-blend-mode: screen;
  background-color: $purple;
}

