$body-bg: #FAECD0;
$text-color: #231947;
$light: #FAECCE;

$salmon: #f77557;
$cyan: #50DDC2;
$periwinkle: #5C63A9;
$fuscia: #A758DC;

$white: #fff;


$font-headings: 'Strait', sans-serif;
$font-body: 'Open Sans', sans-serif;