$body-bg: #fff;
$text-color: #231947;
$light: #faecce;


$cyan: #57DDDD;
$fuscia: #6622CC;
$periwinkle: #4056F4;
$salmon: #F7B32B;
$blue: #C200FB;
$white: #fff;


$font-headings: 'Strait', sans-serif;
$font-body: 'Open Sans', sans-serif;
