$body-bg: #fff;
$text-color: #231947;
$light: #faecce;


$cyan: #57dddd;
$fuscia: #62c;
$periwinkle: #4056f4;
$salmon: #f7b32b;
$blue: #c200fb;
$white: #fff;


$font-headings: 'Open Sans', sans-serif;
$font-body: 'Open Sans', sans-serif;
