.volunteer {
  float: left;
  padding: 1%;

  &:hover {
    .volunteer-img {
      background-blend-mode: luminosity;
    }
  }
}

.volunteer-img {
  display: block;
  margin-bottom: .5em;
  padding-bottom: 100%;
  width: 100%;
}

