---
title: Blogs
layout: page
description: Read blog posts from Ela Conf 2016 attendees and speakers to learn about their experience at the conference.
---

<p>Many of our attendees wrote blog posts about their experience, read about Ela Conf through their eyes:</p>

<div class="blogs">
{% for blog in site.data.blogs %}
  <div class="blog">
    {% if blog.quote %}<blockquote>{{blog.quote}}</blockquote>{% endif %}
    <a href="{{blog.link}}">{{blog.title}}</a>
    <div><span class="blog-img" style="background-image:url('/images/blogs/{{blog.image}}'),{{site.gradient}}"></span> <span class="quiet">{{blog.author}}</span></div>
  </div>
{% endfor %}
</div>