---
layout: page
title: Sponsor
---

<p>Ela Conf is a conference with a goal to create a safe, supportive, inspiring and comfortable community for adult women (18+) to gain the confidence needed to become leaders, speakers, and teachers in the world of tech. All profits from this event will be donated to Girl Develop It.</p>

</div>

<section class="fill-bright" style="margin-top: 2em;">

  <div class="grid levels">
    {% for level in site.data.levels %}{% unless level.hidden %}
    <div class="level fourth">
      <div class="level-header text-center">
        <div class="level-name">{{level[0]}}</div>
        <div class="level-amount">{{level[1].amount}}</div>
      </div>
      <div class="level-rewards">
        <div class="level-item">{{level[1].tickets}} tickets</div>
        <div class="level-item">{{level[1].tickets}} Twitter mentions from @elaconf</div>
        <div class="level-item">{{level[1].tickets}} job listings on Ela Conf slideshow &amp; <a href="/jobs">website</a></div>
        <div class="level-item{% unless level[1].website %} level-no{% endunless %}">Logo on Ela Conf website</div>
        <div class="level-item{% unless level[1].slideshow %} level-no{% endunless %}">Logo on slideshow played during Ela Conf</div>
        <div class="level-item{% unless level[1].signage %} level-no{% endunless %}">Logo on signage at Ela Conf</div>
        <!--<div class="level-item{% unless level[1].verbal %} level-no{% endunless %}">Verbal recognition during Ela Conf welcome</div>-->
        <div class="level-item{% unless level[1].talk %} level-no{% endunless %}">10-minute talk at Friday night event</div>
        <div class="level-item{% unless level[1].top %} level-no{% endunless %}">Recognition as a top sponsor</div>
        {% comment %}<div class="level-item{% unless level[1].talk %} level-no{% endunless %}">10-minute session during Friday night's lightning talks</div>{% endcomment %}
      </div>
    </div>
    {% endunless %}{% endfor %}
  </div>
</section>
<div class="fill-shiny levels-contact">Email us at <a href="mailto:hello@elaconf.com">hello@elaconf.com</a> to become a sponsor!</div>

<section class="fill-light">
  <div class="limiter">
    <h2>Sponsorship materials</h2>
    <p>Learn more about Ela Conf and how important your sponsorship is to help us build an amazing event:</p>
    <ul>
      <li><a href="/docs/at-a-glance.pdf">Ela Conf 2015 at a glance</a></li>
      <li><a href="https://docs.google.com/presentation/d/1bl0JYTEKgaNCnR0i7835YT3aIUf5myPk234xS-5lc58/edit?usp=sharing">Sponsorship deck</a></li>
    </ul>
    <p>Have another idea for sponsorships, such as an in-kind exchange? We’d love to hear from you. For inquiries and more information regarding sponsorship opportunities, please email <a href="mailto:hello@elaconf.com">hello@elaconf.com</a></p>
    <h3>Note on sponsorship benefits</h3>
    <ul>
      <li>Tickets as part of sponsorship must identify as a woman in a way that is significant to them.</li>
      <li>We'll show the slideshow at the beginning and end of the day as well as during breakfast and lunch.</li>
      <li>Social media mentions will take place before, during, and up to 3 months after the conference.</li>
    </ul>

    <h2>Sponsors</h2>
    <p>Big thank you to our sponsors!</p>
    {% include sponsors.html %}
  </div>
</section>
