---
layout: page
title: Organizers
permalink: /organizers/index.html
---


<div class="speakers">
  {% assign organizers = site.organizers | sort: 'order' %}
  {% for organizer in organizers %}{% if organizer.image %}
  <a href="{{site.baseurl}}{{organizer.url}}" class="speaker">
    <div class="speaker-img" style="background-image:url({{site.baseurl}}/images/organizers/{{organizer.image}}), {{site.gradient}}"></div>
    <div class="speaker-name">{{organizer.title}}</div>
  </a>
  {% endif %}{% endfor %}
</div>