---
layout: page
title: Videos
---

<p><a href="https://www.youtube.com/playlist?list=PLB1PViL_KEtc0yNMpoKTOJnnVMv0MLIwB">View the conference playlist</a> or jump right into a talk:</p>

<ul>
{% assign items = (site.posts | where: "category", "agenda" | sort: date ) %}
{% for page in items %}{% if page.video %}
  <li><a href="{{page.video}}" class="video-link">{{page.title}}</a>
  {% if page.speakers %}{% for s in page.speakers %}{% assign items = (site.posts | where: "title", s ) %}<a href="/{{items[0].category}}/{{s |slugify}}/" class="agenda-speaker-link"><span style="background-image:url(/images/{{items[0].category}}/{{items[0].image}})" class="agenda-speaker"></span>{{s}}</a>{% endfor %}{% endif %}</li>
{% endif %}{% endfor %}
</ul>