---
layout: default
---

<header class="header-small">
  <a href="{{site.url}}"><img class="ela-logo" src="/images/elalogo2.svg" alt="Ela Conf logo in basic shapes" /></a>
</header>


<section class="main allow-bullets">
  <h1>{{page.title}}</h1>
  
  {% if page.speakers %}
  <p>{% for s in page.speakers %}{% assign items = (site.posts | where: "title", s ) %}
    <a href="/{{items[0].category}}/{{s |slugify}}/" class="agenda-speaker-link"><span style="background-image:url(/images/{{items[0].category}}/{{items[0].image}})" class="agenda-speaker"></span>{{s}}</a>
    {% endfor %}{% if page.moderator %}
      {% assign items = (site.posts | where: "title", page.moderator ) %}
      <a href="/speakers/{{page.moderator |slugify}}/" class="agenda-speaker-link"><span style="background-image:url(/images/speakers/{{items[0].image}})" class="agenda-speaker"></span>{{ page.moderator}} (moderator)</a>
    {% endif %}</p>
  {% endif %}
  <p>{% if page.room %}<strong>{% if page.breakout %}Room {% endif %}{{page.room}}</strong> &bull; {% endif %}{{page.date | date: '%B %d'}}{% if page.time %} &bull; {{page.time}}{% endif %}</p>
  {% if page.video %}<p><a href="{{page.video}}">Watch on YouTube</a></p>{% endif %}
  
  {{content}}
  <p><a href="/agenda/" class="button">&#9664; Agenda</a></p>
</section>
