---
layout: default
---

{% include header.html %}
{% assign handle = '' %}
{% assign speakers = '' %}
<section>
  <div class="limiter-large limiter">
    <h1>{{page.title}}</h1>
    {% if page.speakers %}
    <p>{% for speaker in page.speakers %}{% assign items = site.speakers | where: "title", speaker %}
      {% assign image = items[0].image %}
      <a href="{{site.baseurl}}/2017/{{items[0].category}}/{{speaker |slugify}}/" class="agenda-speaker-link"><span alt="{{page.title}}" class="speaker-img-small" style="background-image:url({{site.baseurl}}/images/speakers/{{speaker | slugify}}.jpg)"></span>{{speaker}}</a>
      {% if items[0].social == 'twitter' %}{% assign handle = handle | append: ' @' | append: items[0].handle %}{% else %}{% assign speakers = speakers | append: speaker %}{% endif %}
      {% endfor %}{% if page.moderator %}
      {% assign items = site.data.speakers | where: "name", page.moderator %}
      {% assign volunteer = items[0] %}
      {% assign image = volunteer.image %}
      <a href="{{site.baseurl}}/2017/speakers/{{page.moderator | slugify}}" class="agenda-speaker-link"><span style="background-image:url({{site.baseurl}}/images/speakers/{{page.moderator | slugify}}.jpg)" class="speaker-img-small"></span>{{ page.moderator}} (moderator)</a>
      {% endif %}</p>
      {% endif %}

      {% capture tweet %}Hear "{{page.title}}" {% if handle != '' %}by{{handle}}{% else %}by {{speakers}}{% endif %} at @elaconf on Nov {{page.date | date: '%-d'}} {{site.url}}{{page.url}} 💜 ✨{% endcapture %}

      <p><strong>{% if page.room %}{{page.room}}{% else %}Levitt Auditorium{% endif %}</strong> &bull; {{page.date | date: '%B %d'}}{% if page.time %} &bull; {{page.time}} {{page.date | date: '%p' | downcase}}{% endif %}{% comment %} {% if page.speakers %}<a class="twitter-share-button js-tweet" href="https://twitter.com/intent/tweet?text={{tweet | url_encode}}">{% include svg/twitter.svg %}</a>{% endif %}{% endcomment %}</p>

      {% if page.video %}<p><a href="{{page.video}}">Watch on YouTube</a></p>{% endif %}

      {% if page.speakers and page.feedback != false %}<p><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScshO77JQ8VYNrqWvj53r0j8EFoB5buDeeVut0fOemytccWjQ/viewform?usp=pp_url&entry.96767881={{page.title | url_encode}}&entry.333138454&entry.459148311" class="button-feedback" target="_blank">Submit Speaker Feedback</a></p>{% endif %}

      {{content}}

      <div class="button-footer">
        <p><a href="{{site.baseurl}}/#agenda" class="button">&larr; Agenda</a></p>
      </div>
  </div>
</section>

{% if page.speakers %}
<script>
$('a.js-tweet').click(function() {
  window.open(
    this.href, 'mywindow', 'menubar=no,scrollbars=no,top=20,left=20,resizable=no,width=550,height=300');
    return false;
  });
</script>
{% endif %}
