---
layout: default
---

<header class="header-small">
  <a href="{{site.url}}"><img class="ela-logo" src="/images/elalogo2.svg" alt="Ela Conf logo in basic shapes" /></a>
</header>


<section class="main allow-bullets">
  <h1>{{page.title}}</h1>
  
  {% if page.speakers %}
  <p>{% for s in page.speakers %}{% assign items = (site.posts | where: "category", "speakers" | where: "title", s ) %}
    <a href="/speakers/{{s |slugify}}/" class="agenda-speaker-link"><span style="background-image:url(/images/speakers/{{items[0].image}})" class="agenda-speaker"></span>{{s}}</a>
    {% endfor %}{% if page.moderator %}
      {% assign items = (site.posts | where: "category", "speakers" | where: "title", page.moderator ) %}
      <a href="/speakers/{{page.moderator |slugify}}/" class="agenda-speaker-link"><span style="background-image:url(/images/speakers/{{items[0].image}})" class="agenda-speaker"></span>{{ page.moderator}} (moderator)</a>
    {% endif %}</p>
  {% endif %}
  <p><strong>{% if page.room %}{{page.room}}{% else %}Room TBA{% endif %}</strong> &bull; {{page.date | date: '%B %d'}} {% if page.time %}{{page.time}} {{page.date | date: "%p"}}{% endif %}</p>
  
  {{content}}
  <p><a href="/agenda/" class="button">&larr; Agenda</a></p>
</section>
