<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% if page.title %}{{page.title}} &bull; {% endif %}{{site.title}} 2016</title>
  <meta name="description" content="{{site.mission}}">
  <meta name="robots" content="noindex, nofollow">
  <meta name="keywords" content="web design,design,designer,developer,front-end,tech,technology,women,female,girls,conference,empower,web,women in tech">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="fwQlP4L8TVoaRJctoltAtyp9zrdfeOkm1NNSAVENMdk" />
  <!-- twitter-->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{site.twitter}}">
  <meta name="twitter:title" content="{{site.title}}">
  <meta name="twitter:description" content="{{site.date}} &bull; {{site.building}} - {{site.location}} &bull; {{site.mission}}">
  <meta name="twitter:image" content="http://elaconf.com/logo.png">
  <!-- facebook-->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{site.url}}{{page.url | replace:'index.html',''}}" />
  <meta property="og:title" content="{% if page.title %}{{page.title}} - {% endif %}{{site.title}}" />
  <meta property="og:site_name" content="{{site.title}}" />
  <meta property="og:description" content="{{site.date}} &bull; {{site.building}} &bull; {{site.location}} &bull; {{site.mission | strip_html}}" />
  <meta property="og:image" content="http://elaconf.com/logo.png" />
  <meta property="og:image:width" content="1196" />
  <meta property="og:image:height" content="894" />
  <link rel="shortcut icon" href="{{site.baseurl}}/images/elafav.png" type="image/x-icon">
  <link rel="icon" href="{{site.baseurl}}/images/elafav.png" type="image/x-icon">
  <link type="text/css" rel="stylesheet" href="{{site.baseurl}}/css/elaconf.css" />
  <link href='https://fonts.googleapis.com/css?family=Questrial|Lato:400,400italic,700|Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/{{site.jquery}}/jquery.min.js"></script>
  <script type="text/javascript" src="/js/modernizr.js"></script>
  {{page.head}}
</head>
<body class="page{% if page.title %} page-inner page-{{page.title | slugify}}{% else %} page-main{% endif %}{% if page.category %} page-{{page.category}}-single{% endif %}">
{% include header.html %}
{{content}}
{% include footer.html %}
</body>
</html>