---
layout: default
---

<header class="header-small">
  <a href="{{site.url}}"><img class="ela-logo" src="/images/elalogo2.svg" alt="Ela Conf logo in basic shapes" /></a>
</header>


<section class="main">
  <h1>{{page.title}}</h1>
  <img src="/images/{{page.category}}/{{page.image}}" alt="{{page.title}}" class="speaker-img-page">
  <p>{% if page.topic %}<strong>{{page.topic}}</strong> &bull; {% endif %} {% if page.twitter %}<a href="https://www.twitter.com/{{page.twitter}}">@{{page.twitter}}</a>{% endif %}{%if page.instagram %} Instagram: <a href="https://instagram.com/{{page.instagram}}/"> {{page.instagram}}</a>{% endif %}</p>
  {{content}}
  {% assign moderators = (site.posts | where: "category", "agenda" | where: "moderator", page.title) %}
  {% assign talks = (site.posts | where: "category", "agenda") %}{% assign talk_num = 0 %}{% for talk in talks %}{% if talk.speakers contains page.title or talk.moderator == page.title %}{% assign talk_num = talk_num | plus: 1 %}{% endif %}{% endfor %}
  {% if talk_num > 0 %}<p><strong>{{page.title | split: ' ' | first }}’s {% if moderators[0].moderator %}moderating{% else %}talk{% if talk_num > 1 %}s{% endif %}{% endif %}:</strong></p>
  <ul>
    {% for talk in talks reversed %}
    {% if talk.speakers contains page.title or talk.moderator == page.title %}<li><a href="{{talk.url}}">{{talk.title}}</a></li>{% endif %}
    {% endfor %}
  </ul>{% endif %}
  <p><a href="/{{page.category}}/" class="button">&larr; {{page.category | capitalize}}</a></p>
</section>
