
<h1>About</h1>
<h2><span class="about-stand-for">E</span>mpowerment. <span class="about-stand-for">L</span>eadership. <span class="about-stand-for">A</span>ction.</h2>

<p>ELA Conf is a conference with a goal to create a safe, supportive, inspiring and comfortable <em>community</em> for adult women (18+) to gain the confidence needed to become leaders, speakers, and teachers in the world of tech. All profits from this event will be donated to <a href="https://www.girldevelopit.com/">Girl Develop It</a>.</p>
<p>In an industry where women are so often marginalized, leadership skills are crucial to making an impact in the field and creating diversity in the workplace. Companies with greater top-level gender diversity perform better financially, are more empathetic, and more innovative. When women become leaders, the entire tech community benefits.
</p>
<p>Our <a href="code-of-conduct/">code of conduct</a> is the heart of our event. Please <a href="mailto:hello@elaconf.com">reach out to us</a> if you have any concerns or there is something you would like to see included that isn’t.</p>

<h2>What&rsquo;s included</h2>
<ul>
  <li><strong>Meals &amp; snacks</strong> &mdash; We'll have snacks on Friday evening and on Saturday we'll serve breakfast, lunch, coffee, and even more snacks.</li>
  <li><strong>Lightning talks</strong> &mdash; Join us Friday night for fun, casual lightning talks.</li>
  <li><strong>Meet &amp; greet</strong> &mdash; We want to make sure there are as few unfamilar faces at the conf as possible!</li>
  <li><strong>Networking</strong> &mdash; We'll wrap up the conference on Saturday afternoon with a networking event.</li>
</ul>
