
<h1>Convince Your Boss</h1>
<ul>
  <li>Learn valuable new tech and communication skills</li>
  <li>Get inspired and motivated</li>
  <li>Gain confidence to embrace and share your talents</li>
  <li>Help hire talented, local women</li>
  <li>Develop new ways of thinking and approaching the existing diversity gap in tech</li>
  <li>Network with your peers</li>
  <li>Become part of a lasting local community</li>
  <li>Learn how to take action, become a leader, and create your own opportunties</li>
  <li>Become part of a lasting, meaningful mentorship</li>
</ul>
