<h1>Speaker Spotlight</h1>
{% assign speakers = (site.posts | where: "category", "speakers" ) %}{% for speaker in speakers reversed %}{% assign speaker_count = speaker_count | plus: 1 %}{% endfor %}
<p class="text-center">We have {{speaker_count}} speakers, panelists, and moderators!</p>
<div class="speakers">
  {% assign speakers = (site.posts | where: "category", "speakers" ) %}
  {% for speaker in speakers reversed %}{% if speaker.image %}
  <a href="{{speaker.url}}" class="speaker">
    <div class="speaker-img" style="background-image:url(/images/speakers/{{speaker.image}})"></div>
    <div class="speaker-details">{% if speaker.topic %}<div class="speaker-topic">{{speaker.topic}}</div>{% endif %}
    <div class="speaker-name">{{speaker.title}}</div></div>
  </a>
  {% endif %}{% endfor %}
</div>
