
<h1>Tickets</h1>
<p class="text-center"><script async src="//widgets.nvite.com/1.0/button.js" data-resource="{{site.nvite}}" data-button-text="Buy ticket"></script></p>
<p>We're offering two different ticket options each with an early bird and regular price.</p>
<table>
  <thead>
    <tr>
      <th>Ticket type</th>
      <th class="text-right">Early bird (ends 9/25)</th>
      <th class="text-right">Regular</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Full-price ticket</strong></td>
      <td class="text-right"><span class="show-mobile">Early bird (ends 9/25):</span> $120</td>
      <td class="text-right"><span class="show-mobile">Regular:</span> $180</td>
    </tr>
    <tr>
      <td><strong>Half-price ticket</strong></td>
      <td class="text-right"><span class="show-mobile">Early bird (ends 9/25):</span> $60</td>
      <td class="text-right"><span class="show-mobile">Regular:</span> $90</td>
    </tr>
  </tbody>
</table>
<p>Choose the <strong>Full-price ticket</strong> if your company is paying for you to attend or will be reimbursing you, or if you're able to pay the full-price. Part of your ticket price will help support women to attend this conference that cannot select this option.</p>
<p>Choose the <strong>Half-price ticket</strong> if you’re a student, paying your own way, unemployed or transitioning between jobs. We have this ticket price to help keep the cost of this conference affordable for all women.<p>
<p class="small">Please note that all ticket sales are final after Sunday, November 15.</p>
  